.gradient-banner {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    color: #fff;
    /* background-image: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
    background-image: linear-gradient(90deg, rgba(0,255,241,1) 0%, rgba(0,3,255,1) 25%, rgba(244,0,232,1) 50%, rgba(244,0,0,1) 75%, rgba(224,244,0,1) 100%);
    /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%); */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 40% 25%;
    filter: blur(var(--gradient-blur)) hue-rotate(0deg);
    opacity: 0.35;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, -15%, 0);
    -moz-transform: translate3d(0, -15%, 0);
    -ms-transform: translate3d(0, -15%, 0);
    -o-transform: translate3d(0, -15%, 0);
    transform: translate3d(0, -15%, 0);
    will-change: filter;
}

@media only screen and (max-width:1000px) {
    .gradient-banner {
        background-size: 100% 25%;
        animation: none;
        /* position: absolute; */
    }

    .gradient-banner.bottom {
        display: none;
    }
}

.gradient-banner.bottom {
    background-position: center top;
    transform: translate3d(0, 100%, 0);
    animation-delay: 1s;
}

@keyframes huey-blurry {
    0% {
        filter: blur(var(--gradient-blur)) hue-rotate(0deg);
    }
    25% {
        filter: blur(var(--gradient-blur)) hue-rotate(180deg);
    }
    50% {
        filter: blur(var(--gradient-blur)) hue-rotate(360deg);
    }
    75% {
        filter: blur(var(--gradient-blur)) hue-rotate(180deg);
    }
    100% {
        filter: blur(var(--gradient-blur)) hue-rotate(0deg);
    }
}

@keyframes huey {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(180deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
