---
pagination:
  data: collections.blogTagsList
  size: 1
  alias: tag
permalink: /blog/tags/{{ tag | slugify }}/
layout: blog.njk
eleventyComputed:
  title: "{{ tag }}"
  blurb: >
    {% set participle = "is" %}
    {% if collections.blogTagsMap[tag] | length != 1 %}
        {% set participle = "are" %}
    {% endif %}

    {% set postLabel = "post" %}
    {% if collections.blogTagsMap[tag] | length != 1 %}
        {% set postLabel = "posts" %}
    {% endif %}
    There {{ participle }} {{ collections.blogTagsMap[tag] | length }} blog {{ postLabel }} with this tag.
---
