---
pagination:
  data: collections.blogTagsPagination
  size: 1
  alias: pTag
permalink: /blog/tags/{{ pTag.tagName }}/{% if pTag.pageNumber %}{% if pTag.pageNumber > 0 %}{{ pTag.pageNumber + 1 }}{% endif %}/{% endif %}
layout: blog.njk
eleventyComputed:
  title: "{{ pTag.tagName }}"
  blurb: >
    {% set participle = "is" %}
    {% if collections.blogTagsMap[pTag.tagName] | length != 1 %}
        {% set participle = "are" %}
    {% endif %}

    {% set postLabel = "post" %}
    {% if collections.blogTagsMap[pTag.tagName] | length != 1 %}
        {% set postLabel = "posts" %}
    {% endif %}
    There {{ participle }} {{ collections.blogTagsMap[pTag.tagName] | length }} blog {{ postLabel }} with this tag.
---
