{% extends "./basic.njk" %}

{% import "components/blog.njk" as blog %}
{% import "components/paginator.njk" as paginator %}

{% block content %}

{% if pTag %}
    {% set posts = pTag.pageData %}
{% endif %}

<section class="flex column container" id="blog-posts">
    {%- for post in posts -%}
        {{ blog.preview(post) }}
    {%- endfor -%}
</section>

{% if pTag %}
    {{ paginator.windowed(page, pTag) }}
{% else %}
    {{ paginator.windowed(page, pagination) }}
{% endif %}

<hr class="flex container medium" />

<section class="flex column flex-align-center container" id="blog-tags">
    {{ blog.tagCloud(collections) }}
</section>
{% endblock %}