.expand {
    display: none;
}

button.expand {
    position: relative;
    border-radius: 4px;
    background: 0 0;
    color: #fff;
    transition: transform .5s;
    padding: 0;
    line-height: 0;
}

button.expand img {
    height: 18px;
    width: 18px;
}

.expanded button.expand {
    background-color: #000;
    transition: transform .5s, background-color .5s;
    transform: rotate(90deg);
}

#main-wrapper {
    padding: 0;
}

#links-container {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 32px;
}

#main-nav {
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
    padding: 16px;
    background-color: var(--background-secondary);
    backdrop-filter: blur(12px);
    border-radius: 12px;
    border: 1px solid rgba(82, 82, 82, 0.2);
}

#main-nav ul {
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

#main-nav ul li {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-nav ul li a {
    color: var(--text-primary);
    position: relative;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-nav ul li a:hover {
    text-decoration: none;
    color: var(--text-muted);
}

#main-nav ul li a.active::after {
    transform: scaleX(1);
}

#main-nav .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#main-nav .nav-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#main-nav .nav-socials a,
#main-nav .nav-socials .social-icon {
    height: 18px;
    width: 18px;
}

#main-nav .nav-socials .social-icon {
    /* filter: invert() grayscale(100%) brightness(200%) */
}

#main-nav .nav > a {
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-nav img.brand {
    border-radius: 37.5%;
    height: 18px;
    width: 18px;
    background-color: var(--accent-color);
}

@media only screen and (max-width:1000px) {

    /* Base */
    .expand {
        display: inline-block;
    }

    #main-nav {
        white-space: nowrap;
        margin: 24px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    #main-wrapper {
        padding-top: 76px;
    }

    #main-nav .container {
        justify-content: space-between;
    }

    #main-nav.collapse {
        align-items: flex-start;
        height: 52px;
        transition: height 500ms ease, background-color 250ms ease;
        overflow: hidden;
    }

    #main-nav.collapse ul {
        padding: 16px;
    }

    #main-nav.collapse ul {
        display: flex;
        /* flex-direction: column; */
        gap: 20px;
        position: absolute;
        top: 50px;
        right: 0;
        left: 0;
        justify-content: space-between;
    }

    /* Expanded */
    #main-nav.expanded {
        height: 106px;
        /* height: 232px; */
        background-color: rgba(28, 22, 47, 0.9);
    }
}
