.banner {
    gap: 12px;
}

.banner img {
    border-radius: 32px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 11px 0px, rgba(59, 59, 59, 0.29) 17px 21px 31px -11px;
}

.banner p {
    font-size: 14px;
    color: rgba(74, 87, 111, 0.7);
    color: rgba(114, 120, 136, 0.6);
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    .banner p {
        padding: 0 16px;
        text-align: center;
    }
}

.banner + section {
    margin-top: 32px;
}