.project-markdown {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: unquote('hsl(from var(--text-primary) h s calc(l - 5))');
    padding: 0;
}

.project-markdown .content {
	margin-bottom: 40px;
    padding: 2rem;
    gap: 12px;
    background-color: var(--background-secondary);
    backdrop-filter: blur(12px);
    border-radius: 12px;
    border: 1px solid rgba(82, 82, 82, 0.2);
    flex: 1;
    width: 100%;
}

.paragraph {
	/* margin-bottom: 40px;
    padding: 2rem;
    gap: 12px;
    background-color: var(--background-secondary);
    backdrop-filter: blur(12px);
    border-radius: 12px;
    border: 1px solid rgba(82, 82, 82, 0.2);
    flex: 1; */
}

.paragraph p {
	// margin-bottom: 40px;
    padding: 2rem;
    // gap: 12px;
    background-color: var(--background-secondary);
    backdrop-filter: blur(12px);
    border-radius: 12px;
    border: 1px solid rgba(82, 82, 82, 0.2);
    // flex: 1;
    // width: 100%;
}

.project-markdown h1,
.project-markdown h2,
.project-markdown h3,
.project-markdown h4,
.project-markdown h5 {
    color: rgba(114, 120, 136, 1.0); // #727888
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 1px dotted rgb(114, 120, 136);
    padding-bottom: 6px;
}

.project-markdown h1 {
    font-size: 18px;
}

.project-markdown h2 {
    font-size: 16px;
}

.project-markdown h3 {
    font-size: 14px;
}

.project-markdown h4 {
    font-size: 12px;
}

.project-markdown h5 {
    font-size: 12px;
}

@media only screen and (max-width:500px) {
    /* .project-markdown h1 {
        font-size: 2.5rem;
    }

    .project-markdown h2 {
        font-size: 2rem;
    }

    .project-markdown h3 {
        font-size: 1.5rem;
    }

    .project-markdown h4 {
        font-size: 1rem;
    }

    .project-markdown h5 {
        font-size: 0.5rem;
    } */
}

.project-markdown img {
    border-radius: 10px;
    border: 1px solid black;
    align-self: center;
}

.project-markdown > img {
    margin-bottom: 20px;
}

.project-markdown hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: rgba(255,255,255,0.2);
}

.project-markdown pre {
    overflow-x: auto;
    width: 100%;
    border-radius: 12px;
}

.project-markdown h1,
.project-markdown h2,
.project-markdown h3,
.project-markdown h4,
.project-markdown h5 {
    margin: 1rem 0 0 0;
    max-width: 100%;
}


.project-markdown a {
    text-decoration: dotted underline;
}

.project-markdown a:hover {
    text-decoration: solid underline;
}

.project-markdown strong {
    font-weight: 600;
    color: var(--text-heading);
}