.paginator {
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    margin: 10px 0;
}

.page-numbers {
    list-style: none;
    display: inline-flex;
    font-size: 1.2em;
    justify-content: center;
    gap: 12px;
}

.page-numbers li {
    margin: 0 5px;
}

.paginator a.disabled {
    pointer-events: none;
    opacity: 0;
}

.paginator + hr {
    margin-top: 20px!important;
}

.paginator .ellipsis {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.paginator a.gradient {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    // border: 1px solid rgba(82, 82, 82, 0.2);
    font-weight: 600;
    letter-spacing: -0.25px;
    color: var(--text-primary);
}

// .paginator a.gradient:hover {
//     border-color: transparent;
// }

// .paginator a.gradient {
//     color: white;
// }