{% macro preview(post) %}
<article class="blog-post-preview">
    <div class="blog-post-meta">
        <time datetime="{{post.date | date}}">{{post.date | date("en-US", {dateStyle: "medium"})}}</time>
        {% if post.data.blogTags %}
            <div class="blog-tags">
                {% for tag in post.data.blogTags %}
                    {% if loop.index <= 4 %}
                    {% if tag != "posts" %}
                        <a href="/blog/tags/{{ tag | slugify }}/" class="tag">{{tag}}</a>
                    {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <h3><a href="{{post.url}}">{{post.data.title}}</a></h3>
    <p class="blog-excerpt">{{post.data.description}}</p>
    <a href="{{post.url}}" class="read-more">Read more →</a>
</article>
{% endmacro %}


{% macro tagCloud(collections, tag) %}
<div class="tag-cloud">
    {%- for tagItem in collections.blogTagsList -%}
        {%- set taggedCount = collections.blogTagsMap[tagItem] | length -%}
        <a href="/blog/tags/{{ tagItem | slugify }}/" class="tag{{ ' current' if tagItem == tag }}">
            {{ tagItem }} ({{ taggedCount }})
        </a>
    {%- endfor -%}
</div>
{% endmacro %}