@import "./framework.styl";
@import "./sections/*.styl";
@import "./components/*.styl";




:root {
    --accent-color: #018BBC; /* #3E64FF; */
    --accent-color-hover: #0f9fd4;
    --accent-rgb: 1, 139, 188; /* #3E64FF; */
    --success-color: #3BA55D;
    --success-color-hover: #47b86b;
    --danger-color: #ED4245;
    --danger-color-hover: #f46c6e;
    --background-main: #fff;
    --text-heading: #000;
    --text-primary: #666;
    --background-secondary: #fff;
    --gradient-blur: 100px;
}

body.dark {
    --text-heading: #fff;
    --text-primary: #ECEDEE;
    --text-muted: #666;
    --background-main: rgb(10, 10, 13);
    --background-secondary: rgba(28, 22, 47, 0.4);
    /* color: rgb(196, 144, 209); */
    /* --background-secondary: rgba(32, 18, 36, 0.4); */
    --background-tertiary: #1D1D1D;
}

*, ::before, ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    /* line-height: 1.15; */
    width: 100vw;
}

@media only screen and (max-width:768px) {
    html {
        overflow-x: hidden;
    }
}

body {
    margin: 0;
    font-family: "Inter",Arial,sans-serif;
    background: var(--background-main);
    font-size: 16px;
    line-height: 1.333;
    font-weight: 400;
    color: var(--text-primary);
    overflow-x: hidden;
    padding-bottom: 24px; /* temp until footer */
}