<section class="flex" id="marquee">
    <div class="flex">
        {% for label, value in github.stats %}
            <div class="stat">
                <div class="label">{{label}}</div>
                <div class="value">{{value | numLocale}}</div>
            </div>
        {% endfor %}
    </div>
</section>

<script>
const containerElem = document.querySelector('#marquee');
let leftSideOfContainer = containerElem.getBoundingClientRect().left;
window.addEventListener("resize", () => leftSideOfContainer = containerElem.getBoundingClientRect().left);
const listElem = document.querySelector('#marquee > div');
let currentLeftValue = 0;
let start = undefined;
let previous = undefined;

// Kick off for the animation function.
window.requestAnimationFrame(animationLoop);

/*
Looks at first item in the list and checks if it goes out of the visible area
by comparing the right position of the first list item to the left position
of the containing element.
*/
function animationLoop(timestamp) {
    if (!start) start = timestamp;
    if (!previous) previous = timestamp;
    if (timestamp == start || timestamp == previous) return window.requestAnimationFrame(animationLoop);
    const elapsed = timestamp - previous;
    previous = timestamp;
    // console.log({previous, timestamp, elapsed})
    const count = Math.floor(elapsed / 50);
    const currentItems = listElem.querySelectorAll('.stat');
    const firstItem = currentItems[0];
    const secondItem = currentItems[1];
    const leftSideOfSecondItem = secondItem.getBoundingClientRect().left;

    if(Math.round(leftSideOfSecondItem) <= leftSideOfContainer) {
        currentLeftValue = 0;
        listElem.appendChild(firstItem);
        window.requestAnimationFrame(animationLoop);
    }

    listElem.style.transform = `translateX(${currentLeftValue}px)`;
    currentLeftValue = currentLeftValue - ((1/25) * elapsed);
    window.requestAnimationFrame(animationLoop);
}
</script>