---
layout: base.njk
---

<div class="flex column" id="about">

<section class="flex column flex-align-center container medium" id="about-header">
    <h2>About Me</h2>
    <p>For those that want to know a little more.</p>
</section>

<hr class="flex container medium" />

<section class="flex column flex-align-center banner">
    <img src="{{about.banner.url}}" alt="Hardware Project" />
    <p class="caption">{{about.banner.caption}}</p>
</section>

{% for section in about.sections %}
<section class="flex column paragraph container medium">
    <div class="flex heading">
        <h2>{{section.title}}</h2>
    </div>
    <p>{{section.content | safe}}</p>
</section>
{% endfor %}

</div>