<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<meta name="description" content="Landing page and portfolio for Zerebos">

<!-- Facebook Meta Tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="zerebos.com">
<meta property="og:title" content="Zerebos">
<meta property="og:description" content="Landing page and portfolio for Zerebos">
<meta property="og:image" content="https://zerebos.com/assets/images/avatar_banner.webp">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="zerebos.com">
<meta property="twitter:url" content="zerebos.com">
<meta name="twitter:title" content="Zerebos">
<meta name="twitter:description" content="Landing page and portfolio for Zerebos">
<meta name="twitter:image" content="https://zerebos.com/assets/images/avatar_banner.webp">


<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/favicon/site.webmanifest">
<link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#008cbd">
<link rel="shortcut icon" href="/assets/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
<meta name="theme-color" content="#018BBC">


<title>Zerebos</title>
{# <link rel="preconnect" href="https://fonts.googleapis.com"> #}
{# <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> #}
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700" rel="stylesheet"> 
<link rel="stylesheet" href="/styles.css">
</head>
<body class="dark">
    <div class="gradient-banner"></div>
    <div class="gradient-banner bottom"></div>
    <div id="main-wrapper" class="container">
        <nav id="main-nav" class="collapse">
            <div class="nav">
                <a href="/"><img src="/assets/images/z_swipe.png" class="brand" alt="Zerebos Logo" /></a>
                <ul class="navbar-nav nav">
                    <li class="nav-item"><a href="/" class="nav-link">home</a></li>
                    <li class="nav-item"><a href="/projects" class="nav-link">projects</a></li>
                    <li class="nav-item"><a href="/about" class="nav-link">about</a></li>
                    <li class="nav-item"><a href="/links" class="nav-link">links</a></li>
                </ul>
            </div>
            <div class="nav-socials">
                {% for link in links.icons %}
                    <a href="{{link.href}}" class="{{link.icon | lower}}" target="_blank" rel="noreferrer">
                        <img src="/assets/icons/{{link.icon | lower}}.svg" class="social-icon" alt="{{link.icon}}" />
                    </a>
                {% endfor %}
                <button id="menuButton" class="expand left" aria-label="Menu">
                    <img src="/assets/icons/menu.svg" />
                </button>
            </div>
        </nav>
        {% block content %}
            {{content | safe}}
        {% endblock %}
    </div>
    <script>
        const menuButton = document.querySelector("#menuButton");
        menuButton.addEventListener("click", () => {
            menuButton.parentElement.parentElement.classList.toggle("expanded");
        });
    </script>
</body>
</html>