{% extends "./base.njk" %}


{% set git = github.projects | getElementByKey("full_name", repo) %}
{% set langs = github.languages[repo] %}
{% set branches = github.branches[repo] %}

{% block content %}
<section class="flex column flex-align-center container medium" id="projects-header">
    <h2>{{title}}</h2>
    <p>{{blurb}}</p>
</section>

<hr class="flex container medium" />

<section class="flex column flex-align-center banner">
    <img src="{{banner}}" alt="{{title}}" />
</section>

<section class="flex column stats-wrap">
    <div class="flex heading">
        <h2>Stats</h2>
    </div>
    <div class="flex stats{% if git.license.name %} licensed{% endif %}">
        {% if git.license.name %}<a class="flex column stat" href="https://github.com/{{repo}}/blob/{{git.default_branch}}/LICENSE" target="_blank">{% include "assets/icons/license.svg" %}{{git.license.spdx_id}}</a>{% endif %}
        <a class="flex column stat" href="https://github.com/{{repo}}/commits/" target="_blank">{% include "assets/icons/clock.svg" %}{{git.pushed_at | date}}</a>
        <a class="flex column stat" href="https://github.com/{{repo}}/issues/" target="_blank">{% include "assets/icons/issue.svg" %}{{git.open_issues}}</a>
        <a class="flex column stat" href="https://github.com/{{repo}}/stargazers/" target="_blank">{% include "assets/icons/star.svg" %}{{git.stargazers_count}}</a>
        <a class="flex column stat" href="https://github.com/{{repo}}/watchers/" target="_blank">{% include "assets/icons/eye.svg" %}{{git.subscribers_count}}</a>
        <a class="flex column stat" href="https://github.com/{{repo}}/network/members/" target="_blank">{% include "assets/icons/fork.svg" %}{{git.forks}}</a>
        
        <a class="flex column stat" href="https://github.com/{{repo}}/brances/" target="_blank">{% include "assets/icons/branch.svg" %}{{branches | length}}</a>
    </div>
</section>


<section class="flex column stats-wrap">
    <div class="flex heading">
        <h2>Languages</h2>
    </div>
    <div class="flex stats">
        {% for lang, percent in langs %}
            <a class="flex column stat" href="https://github.com/{{repo}}/search?l={{lang | lower}}" target="_blank"><span>{{lang}}</span>{{percent}}%</a>
        {% endfor %}
    </div>
</section>

<section class="flex column container project-markdown">
    <div class="flex heading">
        <h2>Description</h2>
    </div>
    <div class="flex column content">
        {{content | safe}}
    </div>
</section>

{% endblock %}