---
layout: basic.njk
pagination:
  data: collections.projects
  size: 9
  alias: projects
title: "Projects"
blurb: "Browse these projects to learn more about my previous work."
---


{% import "components/paginator.njk" as paginator %}

<section class="flex container column half-padded" id="projects">
    {% for proj in projects %}
        {% if (loop.index % 3 == 1) %}
            <div class="flex container project-row">
        {% endif %}
        <div class="flex project">
            <a href="{{proj.url}}" class="flex column gradient">
                <img src="/assets/projects/icons/{{proj.data.icon}}" class="icon" alt="{{proj.data.title}}" />
                <div class="flex column info">
                    <h3>{{proj.data.title}}</h3>
                    <p>{{proj.data.blurb}}</p>
                </div>
            </a>
        </div>
        {% if (loop.index % 3 == 0) %}
            </div>
        {% endif %}
    {% endfor %}
</section>


{{ paginator.windowed(page, pagination) }}